@charset "UTF-8";

html,
body {
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  background-color: #000;
  color: #fff;
  height: 100%;
  font-family: 'Raleway';
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/gotam/GothamPro.woff");
  font-family: 'Raleway';
  src: url("../fonts/Raleway/Raleway-Medium.woff");
}

/*Обнуление*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

input {
  font-size: 32px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 150px;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #000;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__description {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: none;
  letter-spacing: normal;
}

.header__socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wats {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65px;
  height: 65px;
  min-height: auto;
}

.header__tele {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65px;
  height: 65px;
  min-height: auto;
}

.header__face {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65px;
  height: 65px;
  min-height: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  min-height: auto;
  background-color: red;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  display: none;
  border-radius: 10px;
  background-color: transparent;
}

.menu-burger span,
.menu-burger span:before,
.menu-burger span:after {
  width: 40px;
  height: 5px;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-burger span:before {
  content: "";
  top: -10px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-burger span {
  top: 25px;
}

.menu-burger span:after {
  content: "";
  bottom: -10px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-burger span.active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu-burger span.active:after {
  content: "";
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu-burger span.active {
  background: transparent;
}

.menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: auto;
  min-height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  right: 0px;
  top: 80px;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.menu__icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 95px 0 0 0;
}

.active__menu {
  right: 0;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: auto;
  min-height: 240px;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.menu-inner .slick-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  top: 0px;
  position: absolute;
  z-index: 10;
  background-color: transparent;
  text-align: center;
}

.slick-track {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
}

.slick-list {
  overflow: hidden;
  padding: 0px 50px;
}

.slider {
  position: absolute;
  padding: 120px 0px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  top: 50px;
  position: absolute;
  z-index: 10;
  background-color: red;
}

.slick-dots li {
  list-style: none;
  padding: 0 20px;
  z-index: 9;
}

.slick-dots button {
  font-size: 0;
  background-color: transparent;
}

.slick-dots #slick-slide-control00:before {
  content: 'Главное';
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
}

.slick-dots #slick-slide-control01:before {
  content: 'Услуги';
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
}

.slick-dots #slick-slide-control02:before {
  content: 'Работы';
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
}

.slick-dots #slick-slide-control03:before {
  content: 'О нас';
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
}

.slick-dots #slick-slide-control04:before {
  content: 'Связаться';
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: none;
  letter-spacing: normal;
}

.slick-dots li.slick-active {
  background-color: #4C52ED;
  border: 1px solid #fff;
  border-radius: 32px;
}

.slider .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 3%;
  height: 11.5%;
  z-index: 10;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../image/header/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../image/header/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.pageone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageone__left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
}

.pageone__left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pageone__top {
  font-size: 8.125rem;
  color: #fff;
  font-weight: 600;
  line-height: 6.75rem;
  text-transform: none;
  letter-spacing: normal;
}

.pageone__middle {
  font-size: 2.25rem;
  color: #fff;
  font-weight: normal;
  line-height: 2.25rem;
  text-transform: none;
  letter-spacing: normal;
  padding: 50px 0 50px 0;
}

.pageone__order {
  font-size: 1.875rem;
  color: #fff;
  font-weight: 500;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  background: transparent;
  width: 250px;
  height: 100px;
  border-radius: 32px;
  border: 1px;
  -webkit-box-shadow: 0px 0px 22px -5px rgba(168, 255, 81, 0.27);
          box-shadow: 0px 0px 22px -5px rgba(168, 255, 81, 0.27);
  border-image-source: linear-gradient(113.12deg, #00FFFF 0%, #CD04FF 47.44%, rgba(0, 102, 255, 0) 100%);
}

.pageone__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  position: absolute;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 10px 0;
}

.footer__based {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: auto;
  min-height: auto;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
}

.footer__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: auto;
  min-height: auto;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagetwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagetwo__left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: auto;
  min-height: auto;
}

.pagetwo__blockone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pagetwo__like {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: auto;
  min-height: 80px;
  background: #333;
  margin: 10px 0px;
  border-radius: 32px;
}

.pagetwo__likedesc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: #333;
  margin: 10px 0px;
  border-radius: 32px;
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
  line-height: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagetwo__money {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: auto;
  min-height: 80px;
  background: #333;
  margin: 10px 0px;
  border-radius: 32px;
}

.pagetwo__moneydesc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: #333;
  margin: 10px 0px;
  border-radius: 32px;
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
  line-height: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagetwo__time {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: auto;
  min-height: 80px;
  background: #333;
  margin: 10px 0px;
  border-radius: 32px;
}

.pagetwo__timedesc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100px;
  background: #333;
  margin: 10px 0px;
  border-radius: 32px;
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
  line-height: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagetwo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagetwo__blocktwo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  height: auto;
  min-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #333;
  border-radius: 32px;
}

.pagetwo__site {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 300px;
  border-radius: 32px;
  background-color: #fff;
}

.pagetwo__sitetext {
  font-size: 2.25rem;
  color: #000;
  font-weight: normal;
  line-height: 2rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: center;
}

.pagetwo__sitemore {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: auto;
  min-height: 80px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 32px;
  margin: 110px 0px;
}

.pagetwo__blockthree {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  height: auto;
  min-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #333;
  border-radius: 32px;
}

.pagetwo__layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 300px;
  border-radius: 32px;
  background-color: #fff;
}

.pagetwo__layouttext {
  font-size: 2.25rem;
  color: #000;
  font-weight: normal;
  line-height: 2rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: center;
}

.pagetwo__layoutmore {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: auto;
  min-height: 80px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 32px;
  margin: 110px 0px;
}

.pagetwo__blockfour {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  height: auto;
  min-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #333;
  border-radius: 32px;
}

.pagetwo__design {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 300px;
  border-radius: 32px;
  background-color: #fff;
}

.pagetwo__designtext {
  font-size: 2.25rem;
  color: #000;
  font-weight: normal;
  line-height: 2rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: center;
}

.pagetwo__designmore {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  height: auto;
  min-height: 80px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 32px;
  margin: 110px 0px;
}

.pagethree::-webkit-scrollbar {
  width: 10px;
}

.pagethree::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 32px;
  border: 1px solid #fff;
}

.pagethree::-webkit-scrollbar-track {
  background-color: #000;
}

.pagethree {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 620px;
  min-height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  overflow-y: scroll;
}

.pagethree__sectionone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 580px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.pagethree__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 30px;
  background-color: #333;
  border-radius: 32px;
}

.pagethree__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 30px;
  background-color: #333;
  border-radius: 32px;
}

.pagethree__top {
  font-size: 3.75rem;
  color: #fff;
  font-weight: normal;
  line-height: 4.125rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0px 0px 0px 30px;
}

.pagethree__medium {
  font-size: 2.25rem;
  color: #fff;
  font-weight: normal;
  line-height: 2.375rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0px 0px 0px 30px;
}

.pagethree__bottom {
  font-size: 2.25rem;
  color: #fff;
  font-weight: normal;
  line-height: 2.375rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0px 0px 0px 30px;
}

.pagethree__sectiontwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 580px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.pagethree__sectionthree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 580px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.pagethree__sectionfour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 580px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.pagethree__sectionfive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 580px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.pagefour .slick-track {
  display: block;
}

.pagefour .slick-list {
  overflow: hidden;
  padding: 0;
}

.pagefour .slick-arrow {
  position: absolute;
  font-size: 0;
  z-index: 20;
  width: 2.5%;
  height: 6%;
  text-align: center;
}

.pagefour .slick-arrow.slick-prev {
  left: 49%;
  top: 0px;
  background: url("../image/header/sl-arrow_l.svg") 0 0/50% no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.pagefour .slick-arrow.slick-next {
  right: 49%;
  bottom: 0px;
  background: url("../image/header/sl-arrow_r.svg") 0 0/50% no-repeat;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.pagefour {
  position: absolute;
  width: 1820px;
  height: 700px;
  overflow: hidden;
}

.pagefour__admin {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 630px;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefour__admintitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  text-align: center;
  font-size: 3.75rem;
  color: #fff;
  font-weight: 600;
  line-height: 4.125rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0;
}

.pagefour__adminabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pagefour__adminlimg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  margin: 10px 0;
}

.pagefour__adminldesc {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  font-size: 1.5rem;
  color: #fff;
  font-weight: normal;
  line-height: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0 0 0;
}

.pagefour__front {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 630px;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefour__fronttitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  text-align: center;
  font-size: 3.75rem;
  color: #fff;
  font-weight: 600;
  line-height: 4.125rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0;
}

.pagefour__back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 630px;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefour__backtitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  text-align: center;
  font-size: 3.75rem;
  color: #fff;
  font-weight: 600;
  line-height: 4.125rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0;
}

.pagefour__hr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 630px;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefour__hrtitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  text-align: center;
  font-size: 3.75rem;
  color: #fff;
  font-weight: 600;
  line-height: 4.125rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 20px 0;
}

.responsive {
  width: 100%;
  height: auto;
  min-height: auto;
  padding: 0px 5px;
}

.pagefive {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  min-height: auto;
}

.pagefive__left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__namephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagefive__name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__nametitle,
.pagefive__phonetitle,
.pagefive__mailtitle,
.pagefive__whattitle {
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
  line-height: 2.5rem;
  text-transform: none;
  letter-spacing: normal;
  opacity: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  min-height: auto;
}

.pagefive__namebutton,
.pagefive__phonebutton,
.pagefive__mailbutton,
.pagefive__whatbutton {
  width: 80%;
  height: 70px;
  border: 1px solid #333;
  border-radius: 18px;
  background: -o-linear-gradient(210.21deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
  background: linear-gradient(239.79deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
}

.pagefive__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__mailwhat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagefive__mail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__what {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__desctitle {
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
  line-height: 2.5rem;
  text-transform: none;
  letter-spacing: normal;
  opacity: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85.5%;
  height: auto;
  min-height: auto;
}

.pagefive__descbutton {
  width: 90%;
  height: 175px;
  border: 1px solid #333;
  border-radius: 18px;
  background: -o-linear-gradient(210.21deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
  background: linear-gradient(239.79deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
}

.pagefive__order {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 301px;
  height: 61px;
  min-height: auto;
  background-color: #4C52ED;
  border-radius: 23px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 45px 0 0 0;
}

.pagefive__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__leftorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  min-height: auto;
  font-size: 4.5rem;
  color: #fff;
  font-weight: 500;
  line-height: 4.344rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagefive__bigarrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  min-height: auto;
}

.pagefive__bigarrow-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
}

.pagefive__location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.pagefive__exactloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  min-height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 3.156rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagefive__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 58%;
  height: auto;
  min-height: auto;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
}

.pagefive__map {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  min-height: auto;
  margin: 20px 0 0 0;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  padding: 30px 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.popup__content {
  background-color: #333;
  max-width: 1000px;
  padding: 30px;
  position: relative;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__inner {
  color: #000;
}

.popup__first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__first-block-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.popup__first-block-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.popup__second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__second-block-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.popup__second-block-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.popup__third-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.popup__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__first-block-name,
.popup__first-block-phone,
.popup__second-block-mail,
.popup__second-block-what {
  width: 300px;
  height: 70px;
  border: 1px solid #333;
  border-radius: 18px;
  background: -o-linear-gradient(210.21deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
  background: linear-gradient(239.79deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
}

.popup__third-block-desc {
  width: 650px;
  height: 200px;
  border: 1px solid #333;
  border-radius: 18px;
  background: -o-linear-gradient(210.21deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
  background: linear-gradient(239.79deg, rgba(199, 204, 250, 0.24) 28.94%, rgba(228, 251, 249, 0) 111.13%);
}

.popup span {
  font-size: 1.125rem;
  color: #fff;
  font-weight: normal;
  line-height: 2.5rem;
  text-transform: none;
  letter-spacing: normal;
  opacity: 70%;
}

.popup button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 301px;
  height: 61px;
  min-height: auto;
  background-color: #4C52ED;
  border-radius: 23px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  margin: 45px 0 0 35px;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}